<section class="w-75 mx-auto shadow rounded p-4 my-3 ">
  <h1 class="my-3 text-center text-primary">login to your account</h1>
  <form class="w-50 mx-auto mt-3 " (ngSubmit)="logIn()" [formGroup]="loginForm">


    <div class="my-2">
      <label class="mb-2">Email:</label>
      <input formControlName="email" type="email" class="form-control">
      <div class="alert alert-danger p-1 small w-50 mx-auto mt-1" *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched">
        <p *ngIf="loginForm.get('email')?.getError('required')" class="mb-0 text-center">Email is required</p>
        <p *ngIf="loginForm.get('email')?.getError('email')" class="mb-0 text-center">Enter Valid Email Address</p>
      </div>
    </div>


    <div class="my-2">
      <label class="mb-2">Password:</label>
      <input formControlName="password" type="password" class="form-control">
      <div class="alert alert-danger p-1 small w-50 mx-auto mt-1" *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched">
        <p class="mb-0 text-center">Password is required</p>
      </div>
    </div>
    <button type="submit" class="btn btn-outline-primary w-100 " [disabled]="loginForm.invalid">Login</button>
  </form>

</section>
